version: '3.8'

services:
  app:
    build: .
    container_name: Climax_app
    #ports:
      #- "5000:5000" 
    environment:
      - FLASK_ENV=development 
    env_file:
      .env
    stdin_open: 
      true
    tty:
      true
    command: python Climax.py  
