header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 12%;
    margin: 0;
    background-color: rgb(33, 117, 226);
}
footer{
    background-color: rgb(43, 43, 43);
    height: 20%;
}
button{
    transition: all .3s ease;
}
button:hover{
    background-color: rgba(62, 107, 255, 0.833);
    padding-left: 6px;
}
img{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    
}
.contenido{
    margin: auto;
    text-align: left;
    width: 95%;
    justify-content: flex-end;
    flex-wrap: wrap;
    height:85vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.cielo{
    align-items: center;
    display: flex;
}
.imgCielo{
    width: 5.5em;
    height: 5.5em;
    margin-left: 2em;
}
.detalles{
    display: flex;
    align-items: center;
}
.separacionDetalles{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.imgDetalles{
    width: 1.5em;
    height: 1.5em;
}
.formMedicion{
    display: flex;
    margin: 0.5rem;
}
.config{
    height: 2rem;
    width: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    background: transparent;
    color: rgb(210, 210, 210);
    border-style: solid;
    align-items: center;
    border-radius: 50%;
    border-color: rgb(210, 210, 210);
    margin: 0.2rem;
}
h1{
    font-family: math;
    font-weight: bolder;
    font-stretch: expanded;
    font-size: 3.5em;
    color: rgb(255, 250, 205);
    text-align: center;
    margin:auto;

}
h2{
    font-family: monospace;
    font-weight: bold;
    color: rgb(210, 210, 210);
    text-align: left;
    font-size: 7em;
    margin-bottom: 0;
    margin-top: 0;

}
h3{
    font-family: monospace;
    font-weight: bolder;
    font-stretch: expanded;
    font-size: 3.3em;
    color: rgb(210, 210, 210);
    text-align: center;
    margin: 0.5rem;
}
p{
    margin: 0;
    font-size: 1.7rem;
    color: rgb(210, 210, 210);
    font-family: monospace;

}
.ciudadPais{
    align-items: flex-start;
    display: flex;
    align-content: center;
    height: 6em;
}
body{
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, rgb(34,123,238) 10%, rgb(104,211, 251));
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.opciones{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 7em;
    text-align: left;
    align-items: center;
    margin: 3rem;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30%;
    height: 30%;
    background-color:rgb(210, 210, 210);
    border: 2px;
    border-style: solid;
    border-color: rgb(164, 164, 173);
    font-size: 130%;
    background: linear-gradient(to bottom, rgba(44, 44, 82, 0.409)40%,rgb(32, 33, 79, 0.2));
    color: rgb(189, 189, 201);
    transition: 0.3s;
    
}
.boton:hover{
    
    background-color: #27357b;
    
}
.boton::before
#queryLog{
    border: hidden;
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
    background: rgba(145, 171, 255, 0.267);
}
.containLog{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5%;
}
.logItems{
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    align-items: flex-end;
    padding: 1% 2%;
    justify-content: center;
    width: 15rem;
}
.temp{
    width: 8rem;
}
.contenedorFormulario{
    height: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.formulario{
    border-radius: 4%;
    background: linear-gradient(to bottom, rgba(44, 44, 82, 0.409)40%,rgb(32, 33, 79, 0.2));
    width: 20em;
    height: 25em;
    border: 0.1rem;
    border-style: solid;
    border-color: rgb(189, 189, 201);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: center;
    justify-content: space-around;

}
.form{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input{
    height: 1.5rem;
    width: 90%;
}
button{
    background-color: rgba(62, 107, 255, 0.5);
    border: none;
    color: rgb(210, 210, 210);
    height: 1.5rem;
}
a{
    margin: 1em;
}
.Pronosticos{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.dias{
    height: 20em;
    width: 15em;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 3.5%;
    margin: 7px;
    background: rgba(52, 65, 148, 0.33);
}
.datos{
    margin:10px;
}
.minYmax{
    display: flex;
}
@media(max-width: 500px){
    body{
        height: 90dvh;
    }
    h1{
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        margin-top: 1em;
        color: rgb(189, 189, 201);
    }
    h2{
        font-family: math;
        font-size: 3em;
        align-items: flex-start;
    }
    .contenido{
        align-items: start;
        justify-content: center;

    }
    .opciones{
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 8em;
        text-align: left;
        align-items: center;
        margin: 1rem;
    }
    .boton{
        width: inherit;
        border-style: solid;
        border-color: rgb(189, 189, 201);
        font-size: 20%;
        background-color: rgb(32, 152, 190);
        color: rgb(189, 189, 201);
    }
    .Pronosticos{
        flex-direction:column;
    }
    .ciudadPais{
        flex-wrap: wrap;
    }
    .imgCielo{
        width: 80px;
        height: 80px;
        margin-left: 2em;
    }
    .detalles{
        margin-top: 40px;
    }
    p{
        font-size: 1.3em;
    }
}
