<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>WeatherWise</title>
    
</head>
<body>
    <div class="panelSuperior">
        <img src="{{url_for('static', filename='icono.png')}}" alt="Icono WeatherWise" class="icon">
        <h1>WeatherWise</h1>
        <form action="{{ url_for('cambiar_unidad', ciudad=ciudad.upper(), temperatura=temperatura, pais=pais, maxtemp=maxtemp, mintemp=mintemp) }}" method="POST" class="formMedicion">
            <button type="submit" name="grados" value="metric" class="config">°C</button>
            <button type="submit" name="grados" value="imperial" class="config">°F</button>
        </form>
        
    </div>
    <div class="contenido">
        <div class="ciudadPais">
            <h2>{{ciudad}} {{temperatura}}{{grados}}</h2>
            <p>{{pais}}</p>
            <p>Max: {{maxtemp}}{{grados}}/Min: {{mintemp}}{{grados}}</p>
        </div>
    </div>
    <div class="opciones">
        <a href="{{url_for('mostrar_pronosticos',ciudad=ciudad) }}" class="boton">Pronósticos</a>
        <a href="{{url_for('mostrar_historial')}}" class="boton">Historial de consultas</a>
        <a href="/" class="boton">Cerrar</a>
    </div>
    
</body>
</html>