<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>WeatherWise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="panelSuperior">
        <img src="{{url_for('static', filename='icono.png')}}" alt="Icono WeatherWise" class="icon">
        <h1>WeatherWise</h1>
    </header>
    <div class="contenedorFormulario">
        <section class="formulario">
            <h3>¡Bienvenido!</h3>
            <form action="/validacion" method="POST" class="form">
                <div><label for="ciudad"><p>Ingrese una ciudad</p></label></div>
                <div> <input type="text" id="ciudad" name="ciudad" placeholder="Ciudad" required></div>
                <div><p style="color:rgb(179, 52, 52);">{{mensaje}}</p></div>
                <div><button type="submit">Consultar clima</button></div>
            </form>
        </section>
    </div>
    <footer>

    </footer>
</body>
</html>