<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="titulo">Climax</h1>
    <form action="/" method="POST">
        <label for="ciudad">Ingrese su ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" required>
        <button type="submit">Consultar Clima</button>
    </form>
</body>
</html>