<!DOCTYPE html>
<html lang="es">
<head>
    <title>WeatherWise</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header class="panelSuperior">
        <img src="{{url_for('static', filename='icono.png')}}" alt="Icono WeatherWise" class="icon">
        <h1>WeatherWise</h1>
    </header>
        <h3>{{ciudad}}</h3>
        <section class="Pronosticos">
        {% for pronostico in pronosticos %}
            <div class="dias">
                <div class="diaName">
                    <h3>{{pronostico.date}}</h3>
                </div>
                <div class="datos">
                    <div class="general">
                        <div class="gradosEicon">
                            <p>{{pronostico.temperature}}{{grados}}</p>
                        </div>
                        <div class="minYmax">
                            <p>{{ pronostico.min_temp }}{{grados}}/</p>
                            <p>{{ pronostico.max_temp }}{{grados}}</p>
                        </div>
                    </div>
                    <div class="detalles">
                        <div class="detalles">
                            <div></div>
                            <div></div>
                        </div>
                        <div class="detalles">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </section>
    <a href="{{ request.referrer  }}"><img src="{{url_for('static', filename="back.png")}}" alt=""></a>
</body>
</html>